.ltr * {
    direction: ltr;
}

.ltr .section-wrapper {
    direction: ltr !important;
}

.ltr [type="search"] {
    text-align: right;
}

.ltr .page-khatima .page-title,  .ltr .page-contest .page-title {
    text-align: left;
}

.ltr .juz-list {
    margin-left: 15%;
    margin-right: 0;
}

.ltr .quran-sura .aya-num {
    direction: rtl;
}

.ltr .khatima-title {
    text-align: left !important;
}

.ltr .form-container * {
    text-align: center;
}

.ltr .header-islamic-content p {
    text-align: center;
}

.ltr .page-setting-nav {
    padding-left: 0;
    padding-left: 23px;
}

.ltr .gauge-content {
    position: absolute;
    z-index: 9999;
    display: block;
    margin: auto;
    top: 15px;
    left: 0%;
    text-align: center;
    width: calc(100% - 1px);
    font-family: 'initial';
}

.ltr .page-khatima .page-title, .ltr .page-contest .page-title {
    padding: 7px 22px 7px 22px;
}

.ltr .khatima-wrapper > .row {
    direction: ltr;
    padding-left:  10px;
}

.ltr .page-title{
    font-size: 20px;
}

.ltr .page-setting-nav p {
    font-size: 20px;
}

.ltr .item-after::after{
    float: right;
}

.ltr .page-setting .page-container p {
    font-family: initial;
    font-size: 17px;
}
