.ltr * {
    direction: ltr;
}

.ltr .section-wrapper {
    direction: ltr !important;
}

.ltr [type="search"] {
    text-align: right;
}

.ltr .page-khatima .page-title,  .ltr .page-contest .page-title {
    text-align: left;
}

.ltr .juz-list {
    margin-left: 15%;
    margin-right: 0;
}

.ltr .quran-sura .aya-num {
    direction: rtl;
}

.ltr .khatima-title {
    text-align: left !important;
}

.ltr .form-container * {
    text-align: center;
}

.ltr .header-islamic-content p {
    text-align: center;
}


.page-setting-nav {
    padding-left: 0;
    padding-left: 23px;
}
