@font-face {
    font-family: 'kfc';
    src: url("../fonts/kfc_naskh-webfont.eot") format("embedded-opentype"),
    url("../fonts/kfc_naskh-webfont.svg") format("svg"),
    url("../fonts/kfc_naskh-webfont.ttf") format("truetype"),
    url("../fonts/kfc_naskh-webfont.woff") format("woff");
}

@font-face {
    font-family: 'me_quran';
    src: url("../fonts/me_quran-webfont.eot") format("embedded-opentype"),
    url("../fonts/me_quran-webfont.svg") format("svg"),
    url("../fonts/me_quran-webfont.ttf") format("truetype"),
    url("../fonts/me_quran-webfont.woff") format("woff");
}

@font-face {
    font-family: 'saleem';
    src: url("../fonts/pdms_saleem-webfont.eot") format("embedded-opentype"),
    url("../fonts/pdms_saleem-webfont.svg") format("svg"),
    url("../fonts/pdms_saleem-webfont.ttf") format("truetype"),
    url("../fonts/pdms_saleem-webfont.woff") format("woff");
}

@font-face {
    font-family: 'scheherazade';
    src: url("../fonts/scheherazade-webfont.eot") format("embedded-opentype"),
    url("../fonts/scheherazade-webfont.svg") format("svg"),
    url("../fonts/scheherazade-webfont.ttf") format("truetype"),
    url("../fonts/scheherazade-webfont.woff") format("woff");
}

.spaceInDown {
    animation-name: spaceInDown;
    animation-duration: 0.3s;
}

@keyframes spaceInDown {
    0% {
        opacity: 0;
        transform-origin: 50% 100%;
        transform: scale(.2) translate(0%, 200%);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 100%;
        transform: scale(1) translate(0%, 0%);
    }
}

* {
    font-family: me_quran;
}

.page {
    background: #ffffff !important;
}

.quran-navbar {
    /*background: url("../img/islam-pattern.png");*/
    height: 50px;
}

.navbar-logo {
    background: #ffffff;
    width: 100px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.navbar-logo img {
    height: 40px;
    margin: 5px 0;
}

.quran-head {

    text-align: right;
}

.quran-head .page-title {
    color: #ffffff;
    line-height: 70px;
    font-weight: bold;
    margin-right: 20px;
}

.toolbar {
    height: 60px !important;
    background: #ffffff !important;
    box-shadow: none !important;
    border-top: 1px solid #DBDBDB;
}

.toolbar-options {
    height: 80px !important;
    background: none !important;
    border: none;
}

.toolbar img {
    width: 30px;
}

.toolbar .main-image {
    width: 50px;
}

.sura-header {
    margin: 0 auto;
    text-align: center;
    background: url(../img/box.png) no-repeat center;
    width: 260px;
    background-size: 100%;
    height: 69px;
}

.part-right {
    width: 75px;
    float: left;
    height: 45px;
    color: #fff;
    margin-top: 25px;
    font-size: 10px;
}

.sura-name {
    float: left;
    height: 69px;
    line-height: 69px;
    width: 100%;
    color: #207249 !important;
    font-weight: bold;
    font-size: 20px;
}

.sura-name-arrow {
    margin-right: 30px;
    width: 14px;
}

.part-left {
    width: 75px;
    float: left;
    height: 45px;
    margin-top: 25px;
    color: #fff;
    font-size: 10px;
}

.quran-basmla {
    overflow: hidden;
    width: 100%;
}

.quran-basmla a {
    line-height: 70px;
    float: left;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    color: #207249;
}

.quran-sura {
    text-align: justify;
    direction: rtl;
    margin: 0 !important;
}

.quran-sura .quran-aya {
    margin-right: 12px;
    font-size: 18px;
    line-height: 41px;
    overflow: hidden;
    padding-left: 14px;
    padding-bottom: 5px;
}

.quran-sura .quran-aya.active {
    background: #ccc;
}

.quran-sura .quran-aya-separator {
    font-size: 26px;
    position: relative;
    top: 4px;
}

.quran-sura .aya-num {
    font-size: 13px;
    margin-right: -27px;
}

.quran-sura .quran-aya-separator:after {
    content: "Û";
}

.sura-stats {
    height: 40px;
    background: #207249;
    color: #ffffff;
    padding-top: 10px;
}

.sura-stats .sura-part-num {
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    background: url("../img/vertical-separator.png") no-repeat;
    color: #ffffff;
}

.sura-stats .sura-ayat-count {
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
}

.aya-options {
    color: #000;
    width: 100%;
    text-align: center;
    background: #207249;
    height: 40px;
}

.aya-options img {
    width: 20px;
    margin-top: -9px;
}

.aya-options-remove {
    color: #ffffff !important;
    width: 100%;
    text-align: center;
    background: #F6C625;
    height: 40px !important;
    line-height: 40px !important;
    font-weight: bold;
    display: block !important;

}

.options-message {
    width: 100%;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
}

.nav-shadow {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    height: 55px;
}

.section-wrapper {
    background: #f5f5f5;
    width: 100%;
    direction: rtl;
    margin-top: 2px;
    overflow: scroll;
    height: 85vh;
}

.section-wrapper .number-list {
    background: white;
    height: 84vh;
    text-align: center;
    position: fixed;
}

.section-wrapper .number-list a {
    display: block;
    height: 18px;
    color: #207249;
    font-weight: bold;
}

.juz-title {
    background: #207249;
    width: 100%;
    color: #fff;
    padding: 7px 22px;
    margin: 0;
}

.juz-list {
    margin-right: 15%;
}

.juz-wrapper {
    min-height: 24vh;
    overflow: hidden;

}

.juz-wrapper .surah-card {
    background: #fff;
    padding: 20px 20px 20px 20px;
    margin: 20px 5px 20px 10px;
    display: block;
    width: 75%;
    color: #207249;
}

.juz-wrapper .swiper-slide .surah-card {
    margin-right: 20px
}

.juz-wrapper .swiper-slide {
    width: 55%;
}

.juz-wrapper .surah-card .surah-title {
    font-size: 25px;
    font-weight: bold;
    color: #207249;
}

.juz-wrapper .surah-card .surah-info {
    color: gray;
}

@media only screen and (max-width: 415px) {
    .section-wrapper .number-list a {
        height: 18px;
    }
}

@media only screen and (min-height: 735px) {
    .section-wrapper .number-list a {
        height: 20px;
    }

    .section-wrapper .number-list {
        height: 100vh;
    }

    .section-wrapper {
        height: 87vh;
    }
}

@media only screen and (min-height: 810px) {
    .section-wrapper .number-list a {
        height: 23px;
    }

    .section-wrapper .number-list {
        height: 100vh;
    }

    .section-wrapper {
        height: 87vh;
    }
}

@media only screen and (max-width: 321px) {
    .section-wrapper .number-list a {
        height: 15px;
    }
}

.page-sections .page-content {
    overflow: hidden;
}

.sura-ayat-count span {
    margin: 0 10px;
    float: left;
}

.search-wrapper {
    background-color: #207249;
}

.section-wrapper .searchbar {
    background: transparent;
}

.search-input {
    background: #207249 !important;
    /*height: 30px !important;*/
    padding-right: 15px !important;

}

.md .searchbar input[type="search"], .md .searchbar input[type="text"] {
    color: white;
}

.md .searchbar input[type="search"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.md .searchbar input[type="search"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.md .searchbar input[type="search"]::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.md .searchbar-icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAAXNSR0IArs4c6QAAAs9JREFUWAntlk+ITWEYxs+Z8SdhFvJvpGwsCGWY/aDIBgsLZWHuXclOyY6xV0xWViSyVJqkUEqRDTUxGpQoMSxMZjCKGdfvzbn6vueeP98998pm3no653m/93nOe77znXO+OCqIWq22iJKdYB/YCFaCFWASfACvwS1wPY7jtxzbH9YEGABfQWgMUbi+rd1g2Ac+gjIxg+gs6Gi5KUyqYBq0GncwsEccHLFbibgKv+jmknNbH0PgcYJhjqtBbwJbU2mP5wH57aylnxzDg0b6QNqM3CDfnefEeCc4BqaAxpU8bcMY6vngnbh8gu9vKM5JUL8G3AMae3Jk/hDKE6qG26vcdKDrAnpjL8h1FppZERgHbjQ3tXIVjHa4Zsn5XilrpBTuEuF7eFdjZXMZPM6L7+VCBwQXRHS6UBRQgOcG8Z2Ez8uT2odpixSMCC9LnyOcccSLOV/n8IZTa2a5ZJ8JL0X5tlgjL0W8VLhHrRn78bnRrpkxz1HXmPNlwj1qzUx4mT9fVkmVpnqjU3lO1oxtA9zY7JIWz3tEPybco9bMUy8TRWogw2GUN8cW6wKn2taQPjZnOIqsmbteJor6MXJNZDiYHpbKhyzqb5LzKRdeCzQG/armGGY94JeYDgS5ILotQjPaGiSWInT2exkRvx/wVVKaTincJGKjT0CYQWJLfQewXZ7GmfQrZ2RRn1QH+GdwKEPipamzx/0IaIySWOgVhxBEV9Up4Tc5pn6wyMfgKPgONCaSRCXk+rrtnIvItg8HUsTT5F4B++fYZ95+I7bVtFc47S8/Tn4JqEeVt+lSnQQfuZtTeotN8uGM+kpwE24hZr3gfoZpVnqMgSNgDqhkFJVryJrDcBs4B95kmH8hfw30A+9jCW9/Q/UZw7wb7AbHwUFgG6jcvS3j/66hemPNHGcbKpqt2RkqMUP222nnpq6oBX/ceWT/t5F6W0lDf2fkN2Gz7lgW+ZSqAAAAAElFTkSuQmCC');
}

.md .searchbar .input-clear-button {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGySURBVGhD7ZlJTsNAFETNAdiGPZwkh4DjsGSLOBNnyDa3YIdsXkVdKIghHnpE/aRSnLb9u16UeJOh0+l0/gfTNF2N4/hIbsJSMehyT499eLsMSTBg4vVQUoa9H8g7eSN3YXk+Kk8OJWXY8yQROjyF5eWoPCkiw15xJIzKk6wy7BFXwqg8ySLD7DQSRuVJUhlmppUwKk+SyDArj4RReRJVhhl5JYzKkygy3FtGwqg82STDPWUljMqTVTJcW4eEUXmySIZr6pIwKk9myXCuTgmj8uRPGdbqljAqT36U4bgNCaPy5IsMaUvChPKWOTYpYYLMUQKC45dwqi0o/vl1EhzPejRXxbkEr8+SaE6Got9+2CpP2pGh4K9PJ5Un9ctQ7OIjVuVJvTIUuihhVJ7UJ0OR2RJG5Uk9MhRYLGFUnpSXYePVEkblSTkZNtwsYVSe5Jdho2gSRuVJPhk2iC5hVJ6kl2FwMgmj8iSdDAOTSxiVJ/FlGJRNwqg8iSfDgOwSRuXJdhluLCZhVJ6cy+zCqflw057o764iEob9TzLklVyH5WXwQdyGw6IgsFst0el0OhUyDB/Y0H1k3IFXeQAAAABJRU5ErkJggg==');
}

.searchbar-hide-on-search {
    width: 324px;
    margin: auto;
    font-size: 20px;
    margin-top: 50%;
    text-align: center;
}

.searchbar-found {
    width: 100%;
    padding: 0px 15px 0px 15px;
}

.searchbar-found ul {
    margin: 0;
    padding: 0;
}

.searchbar-found ul li {
    padding: 15px;
    border-bottom: 1px #aba4a43d solid;
    list-style: none;
    background: white;
}

.searchbar-found ul li a {
    color: #000;
    font-family: 'Amiri Quran';
}

.header-islamic {

    background-image: url(../img/all-in-one.png);
    background-size: 100%;
    min-height: 284px;
    height: 216px;
    background-position: top;
    background-repeat: no-repeat;
    /* box-shadow: 0px -3px 12px 0px; */
    width: 100%;
    position: relative;
    top: -7px;
}

.header-islamic-content {
    width: 200px;
    margin: auto;
    text-align: center;
    padding: 68px 30px 0;

}

.page-login .navbar-logo {
    display: none;
}

.page-login .quran-navbar {
    height: 30px;
}

.page-login .header-islamic-content p {
    font-size: 22px;
    color: #207249;
    font-family: -webkit-body;
}

.form-container {
    width: calc(100% - 40px);
    text-align: center;
    margin: auto;

    overflow: scroll;

}

.form-container input {
    width: 100%;
    text-align: center;
    border-bottom: 1px #c7c7c794 solid;
    margin-bottom: 15px;
    padding: 10px;
    font-family: initial;
    color: black !important;
    font-size: 18px;
}

.form-container button {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #207249;
    font-family: initial;
    font-size: 16px;
    border: 0;
    margin-top: 5px;
}

.form-container input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000 !important;
}

.form-container input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000000 !important;
}

.form-container input::-ms-input-placeholder { /* Microsoft Edge */
    color: #000000 !important;
}

.help {
    font-family: initial;
    border: 0;
    color: red;
    font-size: 14px;
    float: right;
}

a.forget-password {
    color: #207249;
    font-family: initial;
    font-size: 18px;
    text-decoration: underline;
    padding: 19px;
    display: block;
    font-weight: 400;
}

.user-avater {
    border-radius: 100%;
}

.user-avater img {
    width: 45px;
    height: 45px;
}

.page-register .form-container input {
    margin-bottom: 15px;
}

.page-register .form-container input.errors {
    margin-bottom: 0px;
}

.khatima-wrapper {
    display: block;
    width: 100%;
    background-color: #fff;
}

.khatima-list {
    display: block;
    max-width: 100%;
    padding: 0 20px;
}

.gauge-khatima {
    width: 200px;
    margin: 35px auto 0;
    display: block;
    position: relative;
}

.gauge-khatima svg {
    z-index: -1;
}

.gauge-content {
    position: absolute;
    z-index: 9999;
    display: block;
    margin: auto;
    top: 15px;
    width: 100%;
    font-family: 'initial';
}

.gauge-content span {
    padding: 5px 0;
    display: block;
    font-family: 'initial';
}

.khatima-wrapper > .row {
    direction: rtl;
    padding-right: 10px;
}

.khatima-wrapper .khatima-title {
    color: #207249;
    font-family: initial;
    text-align: right;
    display: block;
    padding: 10px;
}

.page-khatima .page-content {
    background-color: #f5f5f5;
}

.page-khatima .page-title {
    color: #f5f5f5;
    background-color: #207249;
    font-family: initial;
    text-align: right;
    display: block;
    padding: 7px 22px 7px 0px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
}

.khatima-wrapper .info span {
    display: block;
    font-family: initial;
    color: gray;
}

.khatima-wrapper .info span:first-child {
    color: #207249;
}

.khatima-wrapper .footer p {
    font-family: initial;
    text-align: center;
    margin-bottom: 35px;
}

.page-profile .header-islamic {
    top: -49px;
    box-shadow: 0px -3px 12px 0px;
    background-color: #fff;

}

.page-profile {
    background-color: #f5f5f5;
    height: 90vh;
}

.page-profile .form-container .row > div{
    background-color: #fff;
    height: 15vh;
    font-family: initial;
    font-weight: initial;
    padding-top: 4vh;
}


.page-profile .form-container .row > div>p{
    font-family: initial;
    font-weight: initial;
    margin: 0;
}
.page-profile .form-container .row {
    margin: 10px 0;
}.page-profile .header-islamic-content img{

     border: 3px solid #207249;
     border-radius: 3cm;
}

.page-profile .form-container {
    width: calc(100% - 40px);
    text-align: center;
    margin: -5vh auto;
    overflow: scroll;
}
