
@font-face {
  font-family: 'Cairo-SemiBold';
  src: url('Cairo-SemiBold.eot?#iefix') format('embedded-opentype'),  url('Cairo-SemiBold.woff') format('woff'), url('Cairo-SemiBold.ttf')  format('truetype'), url('Cairo-SemiBold.svg#Cairo-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
